<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webapp.buildPC.dao.AttributeMapper">

    <select id="getAllAttribute" resultType="com.webapp.buildPC.domain.Attribute">
        SELECT  attributeID,
                attributeName
        FROM Attribute;
    </select>

</mapper>

