<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webapp.buildPC.dao.BrandMapper">

    <select id="getAllBrand" resultType="com.webapp.buildPC.domain.Brand">
        SELECT  brandID,
                brandName,
                description
        FROM Brand;
    </select>

    <select id="findBrandByID" resultType="com.webapp.buildPC.domain.Brand">
        SELECT
            brandID,
            brandName,
            description
        FROM Brand WHERE brandID = #{brandID}
    </select>

</mapper>

