<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webapp.buildPC.dao.PCDetailMapper">

    <insert id="addListPCDetail" parameterType="map">
        INSERT INTO PCDetail (productID, componentID)
        VALUES (#{productID}, #{componentID})
    </insert>

    <select id="getPCDetailByProductID" resultType="com.webapp.buildPC.domain.PCDetail">
        SELECT productID, componentID FROM PCDetail WHERE productID = #{productID}
    </select>

</mapper>

