<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webapp.buildPC.dao.ProductMapper">

    <insert id="addProduct" parameterType="com.webapp.buildPC.domain.Product">
        insert into Product (productID, amount, total, userID)
        values (#{productID}, #{amount}, #{total}, #{userID})
    </insert>

    <update id="updateProduct" parameterType="com.webapp.buildPC.domain.Product">
        update Product
        set amount = #{amount},
        total = #{total},
        userID = #{userID}
        where productID = #{productID}
    </update>

    <select id="getAllProducts" resultType="com.webapp.buildPC.domain.Product">
        SELECT productID, amount, total FROM Product, User, Role
                    Where Product.userID = User.userID
                                AND Role.roleID = User.roleID
                                AND Role.roleID = 1
    </select>

    <select id="getProductDetail" resultType="com.webapp.buildPC.domain.Product">
        SELECT productID, amount, total, userID FROM Product WHERE productID = #{productID}
    </select>

    <select id="getProductOfUser" resultType="com.webapp.buildPC.domain.Product">
        SELECT productID, amount, total, userID FROM Product WHERE userID = #{userID}
    </select>

    <delete id="removeProduct">
        DELETE FROM Product WHERE productID = #{productID}
    </delete>
</mapper>

