<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webapp.buildPC.dao.RoleMapper">

    <select id="findRoleName" resultType="com.webapp.buildPC.domain.Role">
        SELECT
        roleID,
        roleName
        FROM Role where roleID = #{roleID};
    </select>

</mapper>

