<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webapp.buildPC.dao.UserMapper">

    <select id="findUserById" resultType="com.webapp.buildPC.domain.User">
        SELECT
        userID,
        userName,
        phone,
        email,
        facebook,
        password,
        image,
        roleID,
        status
        FROM User where userID = #{userID};
    </select>

</mapper>

