<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webapp.buildPC.dao.UserMapper">

    <resultMap id="userMap" type="com.webapp.buildPC.domain.User">
        <result column="userID" jdbcType="VARCHAR" property="userID"/>
        <result column="userName" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="roleID" jdbcType="VARCHAR" property="roleID"/>
        <result column="status"  property="status"/>
    </resultMap>


    <select id="findUserById" resultType="com.webapp.buildPC.domain.User">
        SELECT
        userID,
        userName,
        phone,
        email,
        facebook,
        password,
        image,
        roleID,
        status
        FROM User where userID = #{userID};
    </select>

    <select id="responseUserByID" resultType="com.webapp.buildPC.domain.Transaction.ResponseUser">
        SELECT
        userID,
        userName,
        phone,
        email,
        facebook,
        image,
        roleName,
        status
        FROM User, Role WHERE user.roleID = role.roleID AND userID = #{userID};
    </select>

    <select id="findUserByEmail" resultType="com.webapp.buildPC.domain.User">
        SELECT
        userID,
        userName,
        phone,
        email,
        facebook,
        password,
        image,
        roleID,
        status
        FROM User where email = #{email};
    </select>

    <insert id="createUserByNotFound" parameterType="com.webapp.buildPC.domain.User">
        insert into User (userID,userName,password, image, email, roleID, status)
        values (#{userID},#{userName},#{password}, #{image},#{email}, #{roleID},#{status})
    </insert>

</mapper>

